<!DOCTYPE html>
<html>
    <head>
        <title>Persona 5 Royal Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <!-- jsCalendar v1.4.3 Javascript and CSS from jsdelivr npm cdn -->
        <script src="https://cdn.jsdelivr.net/npm/simple-jscalendar@1.4.3/source/jsCalendar.min.js" integrity="sha384-JqNLUzAxpw7zEu6rKS/TNPZ5ayCWPUY601zaig7cUEVfL+pBoLcDiIEkWHjl07Ot" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-jscalendar@1.4.3/source/jsCalendar.min.css" integrity="sha384-+OB2CadpqXIt7AheMhNaVI99xKH8j8b+bHC8P5m2tkpFopGBklD3IRvYjPekeWIJ" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div>

                <h2>Calendar</h2>

                <div class="calendar-container">
                    <div id="apr"></div>
                    <div id="may" class="custom"></div>
                    <div id="jun" class="custom"></div>
                    <div id="jul" class="custom"></div>
                    <div id="aug" class="custom"></div>
                    <div id="sep" class="custom"></div>
                    <div id="oct" class="custom"></div>
                    <div id="nov" class="custom"></div>
                    <div id="dec" class="custom"></div>
                    <div id="jan" class="custom"></div>
                    <div id="feb" class="custom"></div>
                    <div id="mar" class="custom"></div>
                </div>
            </div>
        </div>
        <script src="/js/yearCalendar.js"></script>
    </body>
</html>
