<!DOCTYPE html>
<html>

<head>
    <title>Persona 5 Royal Calendar Guide</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <div class="container">
            <h2>Okumuras's Palace</h2>
            <h3>Enemies</h3>
            <table class="battle-guides" style="text-align:center;" width="100%">
                <tbody>
                    <tr>
                        <th rowspan="2" style="width:20%;">Shadow</th>
                        <th rowspan="2" style="width:5%;">Lv</th>
                        <th rowspan="2" style="width:16%;">Arcana</th>
                        <th rowspan="2" style="width:15%;">Personality</th>
                        <th colspan="11" style="width:44%;">Affinity</th>
                    </tr>
                    <tr>
                        <th style="width:4%; background:black;"><img alt="Melee Icon" src="/img/skills/melee.png"
                                width="20" height="16"></th>
                        <th style="width:4%; background:black;"><img alt="Range Icon" src="/img/skills/range.png"></th>
                        <th style="width:4%; background:black;"><img alt="Agi Icon" src="/img/skills/agi.png"></th>
                        <th style="width:4%; background:black;"><img alt="Bufu Icon" src="/img/skills/bufu.png"></th>
                        <th style="width:4%; background:black;"><img alt="Zio Icon" src="/img/skills/zio.png"></th>
                        <th style="width:4%; background:black;"><img alt="Garu Icon" src="/img/skills/garu.png"></th>
                        <th style="width:4%; background:black;"><img alt="Psy Icon" src="/img/skills/psy.png"></th>
                        <th style="width:4%; background:black;"><img alt="Frei Icon" src="/img/skills/frei.png"></th>
                        <th style="width:4%; background:black;"><img alt="Bless Icon" src="/img/skills/bless.png"></th>
                        <th style="width:4%; background:black;"><img alt="Curse Icon" src="/img/skills/curse.png"></th>
                        <th style="width:4%; background:black;"><img alt="Almighty Icon" src="/img/skills/almighty.png">
                        </th>
                    </tr>
                    <tr>
                        <td>Belphegor</td>
                        <td>37</td>
                        <td>Tower</td>
                        <td>Irritable</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>St</td>
                        <td>-</td>
                        <td>Rp</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Black Ooze</td>
                        <td>29</td>
                        <td>Moon</td>
                        <td>Irritable</td>
                        <td>St</td>
                        <td>St</td>
                        <td>-</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>Nu</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Lilim</td>
                        <td>32</td>
                        <td>Devil</td>
                        <td>Gloomy</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>St</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>Nu</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Mithras</td>
                        <td>39</td>
                        <td>Sun</td>
                        <td>Gloomy</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Dr</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>Rp</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Arahabaki</td>
                        <td>35</td>
                        <td>Hermit</td>
                        <td>Gloomy</td>
                        <td>Rp</td>
                        <td>Rp</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Girimehkala</td>
                        <td>43</td>
                        <td>Moon</td>
                        <td>Irritable</td>
                        <td>Rp</td>
                        <td>Rp</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>Nu</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Mothman</td>
                        <td>33</td>
                        <td>Moon</td>
                        <td>Timid</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Nu</td>
                        <td>-</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Decarabia</td>
                        <td>32</td>
                        <td>Councillor</td>
                        <td>Gloomy</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>Rp</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>St</td>
                        <td>-</td>
                        <td>St</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Thunderbird</td>
                        <td>34</td>
                        <td>Sun</td>
                        <td>Upbeat</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Dr</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Kaiwan</td>
                        <td>36</td>
                        <td>Star</td>
                        <td>Timid</td>
                        <td>-</td>
                        <td>Nu</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Nu</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Kumbhanda</td>
                        <td>42</td>
                        <td>Hermit</td>
                        <td>Gloomy</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Nu</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Koh-i-Noor</td>
                        <td>25</td>
                        <td>Priestess</td>
                        <td>Gloomy</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <p>20</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>Bosses</h3>
            <table class="battle-guides" style="text-align:center;" width="100%">
                <tbody>
                    <tr>
                        <th rowspan="2" style="width:20%;">Shadow</th>
                        <th rowspan="2" style="width:5%;">Lv</th>
                        <th rowspan="2" style="width:16%;">Arcana</th>
                        <th colspan="10" style="width:44%;">Affinity</th>
                    </tr>
                    <tr>
                        <th style="width:4%; background:black;"><img alt="Melee Icon" src="/img/skills/melee.png"
                                width="20" height="16"></th>
                        <th style="width:4%; background:black;"><img alt="Range Icon" src="/img/skills/range.png"></th>
                        <th style="width:4%; background:black;"><img alt="Agi Icon" src="/img/skills/agi.png"></th>
                        <th style="width:4%; background:black;"><img alt="Bufu Icon" src="/img/skills/bufu.png"></th>
                        <th style="width:4%; background:black;"><img alt="Zio Icon" src="/img/skills/zio.png"></th>
                        <th style="width:4%; background:black;"><img alt="Garu Icon" src="/img/skills/garu.png"></th>
                        <th style="width:4%; background:black;"><img alt="Psy Icon" src="/img/skills/psy.png"></th>
                        <th style="width:4%; background:black;"><img alt="Frei Icon" src="/img/skills/frei.png"></th>
                        <th style="width:4%; background:black;"><img alt="Bless Icon" src="/img/skills/bless.png"></th>
                        <th style="width:4%; background:black;"><img alt="Curse Icon" src="/img/skills/curse.png"></th>
                    </tr>
                    <tr>
                        <td>Haru's Fiance</td>
                        <td>29</td>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>
                            <p>Melchizedek</p>
                        </td>
                        <td>???</td>
                        <td>Justice</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>-</td>
                        <td>Dr</td>
                        <td>Nu</td>
                    </tr>
                    <tr>
                        <td>Corporobo MDL-WKR (Blue)</td>
                        <td>24</td>
                        <td></td>
                        <td>St</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                    </tr>
                    <tr>
                        <td>Corporobo MDL-CH (Yellow)</td>
                        <td>24</td>
                        <td></td>
                        <td>St</td>
                        <td>-</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                    </tr>
                    <tr>
                        <td>Corporobo MDL-AM (Red)</td>
                        <td>24</td>
                        <td></td>
                        <td>St</td>
                        <td>-</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                    </tr>
                    <tr>
                        <td>Corporobo MDL-DM (Light Blue)</td>
                        <td>24</td>
                        <td></td>
                        <td>St</td>
                        <td>-</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>St</td>
                    </tr>
                    <tr>
                        <td>Corporobo MDL-GM (Green)</td>
                        <td>24</td>
                        <td></td>
                        <td>St</td>
                        <td>-</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Wk</td>
                    </tr>
                    <tr>
                        <td>Execurobo MDL-ED (Black)</td>
                        <td>24</td>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Cognitive Existence "Okumura Haru"</td>
                        <td>???</td>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>
                            <p><b>Mammon (Kunikazu Okumura)</b></p>
                        </td>
                        <td>34</td>
                        <td></td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{>footer}}
    </div>
</body>

</html>