<!DOCTYPE html>
<html>

<head>
    <title>Persona 5 Royal Calendar Guide</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <div class="container">
            <h2>Kamoshida's Palace</h2>
            <h3>Enemies</h3>

            <h3>Bosses</h3>

        </div>

        {{>footer}}
    </div>
</body>

</html>