<!DOCTYPE html>
<html>
    <head>
        <title>Persona 5 Royal Calendar Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <div>
                <p>Calendar base guide for Persona 5 Royal. With all the confidants, social stats, and tasks in-game to do, it can be hard to plan your day/week. This guide is meant to be as spoiler-lite as possible while providing a overview of what is available to you that day.</p>
                <p>
            </div>
            <div>
                <p>
                    <a href="/day/apr18">
                        <strong>Get Started Here</strong>
                    </a>
                </p>
                 <div class="container">
                    <img src="/img/morgana.jpg" alt="image of morgana">
                </div>
                <hr>
                <div>
                    <p>
                        <strong>To Do:</strong>
                        <ul>
                            <li>Better Navigation</li>
                            <li>Add in 404 Pages</li>
                            <li>Complete the data from May - February</li>
                            <li>Add in a Year/Month navigation page</li>
                        </ul>
                    </p>
                </div>
                    
            </div>
            {{>footer}}
        </div>
    </body>
</html>
