<!DOCTYPE html>
<html>
    <head>
        <title>Persona 5 Royal Calendar Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    </head>
    <body>
        <div class="main-content">
            {{>header}}
             <p class="sub">
                <a href="/day/apr18">
                    <strong>Get Started Here</strong>
                </a>
            </p>

            <div>
                <p>Calendar base guide for Persona 5 Royal. With all the confidants, social stats, and tasks in-game to do, it can be hard to plan your day/week. This guide is meant to be as spoiler-lite as possible while providing a overview of what is available to you that day.</p>
                <p>
                <p><strong>Current Completed date Up to September 30th</strong></p>
            </div>
            <div>
                 <div class="container">
                    <img src="/img/morgana.jpg" width="300px" alt="image of morgana">
                </div>
                <hr>
                <div>
                    <p>
                        <strong>To Do:</strong>
                        <ul>
                            <li>Complete data for calendar date</li>
                            <li>Calendar page for better navigation</li>
                        </ul>
                    </p>
                </div>
                    
            </div>
            {{>footer}}
        </div>
    </body>
</html>
