<!DOCTYPE html>
<html>
    <head>
        <title>Persona 5 Royal Calendar Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <div class="container">
                <h2>Palaces Enemies Guide</h2>

                <ul>
                    <li><a href="/palaces/first-palace">First Palace</a></li>
                    <li><a href="/palaces/second-palace">Second Palace</a></li>
                    <li><a href="/palaces/third-palace">Third Palace</a></li>
                    <li><a href="/palaces/fourth-palace">Fourth Palace</a></li>
                    <li><a href="/palaces/fifth-palace">Fifth Palace</a></li>
                    <li><a href="/palaces/sixth-palace">Sixth Palace</a></li>
                    <li><a href="/palaces/seventh-palace">Seventh Palace</a></li>
                </ul>

            </div>
            
            {{>footer}}
        </div>
    </body>
</html>
