<!DOCTYPE html>
<html>
    <head>
        <title>Persona 5 Royal Calendar Guide</title>
        <link rel="icon" href="/img/icon.png">
        <link rel="stylesheet" href="/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <div class="container">
            <p>*Technical skills with asterisk required reading "Knowing the Heart" book available from Jinbocho book store. Must read other books first.</p>
                <table class="status-ailments">
                    <caption>Status Ailments</caption>
                    <thead>
                        <tr>
                        <th scope="col" width="15%">Status</th>
                        <th scope="col">Effect</th>
                        <th scope="col" width="15%">Technical</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-label="Status">Down</td>
                            <td data-label="Effect">
                                <p>Affected characters take increased damage (x1.25), and cannot evade.</p> 
                                <p>Downed characters recover from it when they take their turn.</p>
                                </td>
                            <td data-label="Technical">-</td>
                        </tr>
                        <tr>
                            <td scope="row" data-label="Status">Burn</td>
                            <td data-label="Effect"><p>Take damage (10% of max HP) after every action.</p></td>
                            <td data-label="Technical"><p>Wind</p><p>Nuclear</p></td>
                        </tr>
                        <tr>
                            <td scope="row" data-label="Status">Freeze</td>
                            <td data-label="Effect"><p>Unable to take actionss.</p><p>User's resistance to Gun and Physical skills is null.</p><p>Status is removed if the target is attacked.</p><p>Frozen shadows cannot be negotiated with.</p></td>
                            <td data-label="Technical"><p>Physical</p><p>Nuclear</p></td>
                        </tr>
                        <tr>
                            <td scope="row" data-label="Status">Shock</td>
                            <td data-label="Effect"><p>Unable to take actions.</p><p>If the user melee attacks a shocked enemy, there is a slight chance they will become shocked.</p><p>Shocked Shadows cannot be negotiated with.</p></td>
                            <td data-label="Technical"><p>Physical</p><p>Nuclear</p></td>
                        </tr>
                        <tr>
                            <td scope="row" data-label="Status">Dizzy</td>
                            <td data-label="Effect"><p>Attack Accuracy greatly reduced.</p> <p>Attacking affected target will remove the ailment.</p> <p>Dizzy is automatically cured when negotiating.</p></td>
                            <td data-label="Technical"><p>Any</p></td>
                        </tr>
                        <tr>
                            <td scope="row" data-label="Status">
                                Forget
                            </td>
                            <td data-label="Effect">
                                <p>Unable to use any skill.</p>
                                <p>If attacked, the ailment will be removed.</p>
                                <p>Forget is automatically cured when negotiating.</p>
                            </td>
                            <td data-label="Technical">
                                <p>Psychic</p>
                                <p>Electric*</p>
                            </td>
                        </tr>
                                                <tr>
                            <td scope="row" data-label="Status">
                                Sleep
                            </td>
                            <td data-label="Effect">
                                <p>Unable to take actions.</p>
                                <p>HP and SP will slowly restore each turn (+10% max HP).</p>
                                <p>Attacking the affected target will remove.</p>
                                <p>Sleeping shadows cannot be negotiated with.</p>
                            </td>
                            <td data-label="Technical">
                                <p>Any</p>
                            </td>
                        </tr>
                                                <tr>
                            <td scope="row" data-label="Status">
                                Confuse
                            </td>
                            <td data-label="Effect">
                                <p>Throw away money or throw away an item.</p>
                                <p>If an ally, can use a healing item.</p>
                                <p>If an enemy, can do nothing.</p>
                                <p>The ailment will be removed in 2 turns or if attacked.</p>
                                <p>Confused shadows cannot be negotiated with.</p>
                            </td>
                            <td data-label="Technical">
                                <p>Psychic</p>
                                <p>Wind*</p>
                                <p>Gun*</p>
                            </td>
                        </tr>
                                                <tr>
                            <td scope="row" data-label="Status">
                                Fear
                            </td>
                            <td data-label="Effect">
                                <p>High chance of ignoring commands.</p>
                                <p>Will sometimes run from battle.</p>
                                <p>Will run if negotiated with.</p>
                            </td>
                            <td data-label="Technical">
                                <p>Psychic</p>
                                <p>Ice*</p>
                            </td>
                        </tr>
                                                <tr>
                            <td scope="row" data-label="Status">
                                Despair
                            </td>
                            <td data-label="Effect">
                                <p>Unable to take actions.</p>
                                <p>SP will decrease by 5%, and character will become incapacitated after 3 turns.</p>
                                <p>Despair is automatically cured when negotiating.</p>
                            </td>
                            <td data-label="Technical">
                                <p>Psychic</p>
                                <p>Curse*</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" data-label="Status">
                                Rage
                            </td>
                            <td data-label="Effect">
                                <p>Attack power doubled. Defense, evasion, and accuracy are all halved.</p>
                                <p>Character will not listen to orders and only perform melee attack.</p>
                                <p>Rage is cured when negotiating.</p>
                            </td>
                            <td data-label="Technical">
                                <p>Psyhic</p>
                                <p>Fire*</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" data-label="Status">
                                Brainwash
                            </td>
                            <td data-label="Effect">
                                <p>Heal enemy, attack ally or use a support skill on an enemy.</p>
                                <p>In Hold Up, special dialogue options are available.</p>
                            </td>
                            <td data-label="Technical">
                                <p>Psychic</p>
                                <p>Bless*</p>
                            </td>
                        </tr>            
                        <tr>
                            <td scope="row" data-label="Status">
                                Hunger
                            </td>
                            <td data-label="Effect">
                                <p>Greatly lowers damage of attacks from affected party members.</p>
                                <p>Will always fail if used against enemies.</p>
                            </td>
                            <td data-label="Technical">
                                <p>-</p>
                            </td>
                        </tr>       
                        <tr>
                            <td scope="row" data-label="Status">
                                Rattled
                            </td>
                            <td data-label="Effect">
                                <p>Turns one party member into a mouse, unable to take actions.</p>
                                <p>Will always fail if used against enemies.</p>
                            </td>
                            <td data-label="Technical">
                                <p>-</p>
                            </td>
                        </tr>     
                        <tr>
                            <td scope="row" data-label="Status">
                                Artist's Grace
                            </td>
                            <td data-label="Effect">
                                <p>Inflict weaknesses to all affinities.</p>
                                <p>May affect any character, including bosses.</p>
                            </td>
                            <td data-label="Technical">
                                <p>-</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" data-label="Status">
                                Lust
                            </td>
                            <td data-label="Effect">
                                Affected targets may lose 1 or 2 turns.
                            </td>
                            <td data-label="Technical">
                                <p>-</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" data-label="Status">
                                Wrath
                            </td>
                            <td data-label="Effect">
                                <p>Affected targets have their attack raised sharply, but defense decreased for 1-2 turns.</p>
                                <p>Allow free action.</p>
                            </td>
                            <td data-label="Technical">
                                <p>-</p>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" data-label="Status">
                                Envy
                            </td>
                            <td data-label="Effect">
                                <p>Affected Targets may attack random party members with weapons when a support skill is used on anyone but the envied target for 1-2 turns.</p>
                            </td>
                            <td data-label="Technical">
                                <p>-</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            {{>footer}}
        </div>
    </body>
</html>
