<!DOCTYPE html>
<html>

<head>
    <title>Persona 5 Royal Calendar Guide</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <div class="container">
            <h2>Kaneshiro's Palace</h2>
            <h3>Enemies</h3>
            <table class="battle-guides" style="text-align:center;" width="100%">
                <tbody>
                    <tr>
                        <th rowspan="2" style="width:20%;">Shadow</th>
                        <th rowspan="2" style="width:5%;">Lv</th>
                        <th rowspan="2" style="width:16%;">Arcana</th>
                        <th rowspan="2" style="width:15%;">Personality</th>
                        <th colspan="11" style="width:44%;">Affinity</th>
                    </tr>
                    <tr>
                        <th style="width:4%; background:black;"><img alt="Melee Icon" src="/img/skills/melee.png"
                                width="20" height="16"></th>
                        <th style="width:4%; background:black;"><img alt="Range Icon" src="/img/skills/range.png"></th>
                        <th style="width:4%; background:black;"><img alt="Agi Icon" src="/img/skills/agi.png"></th>
                        <th style="width:4%; background:black;"><img alt="Bufu Icon" src="/img/skills/bufu.png"></th>
                        <th style="width:4%; background:black;"><img alt="Zio Icon" src="/img/skills/zio.png"></th>
                        <th style="width:4%; background:black;"><img alt="Garu Icon" src="/img/skills/garu.png"></th>
                        <th style="width:4%; background:black;"><img alt="Psy Icon" src="/img/skills/psy.png"></th>
                        <th style="width:4%; background:black;"><img alt="Frei Icon" src="/img/skills/frei.png"></th>
                        <th style="width:4%; background:black;"><img alt="Bless Icon" src="/img/skills/bless.png"></th>
                        <th style="width:4%; background:black;"><img alt="Curse Icon" src="/img/skills/curse.png"></th>
                        <th style="width:4%; background:black;"><img alt="Almighty Icon" src="/img/skills/almighty.png">
                        </th>
                    </tr>
                    <tr>
                        <td>Sui-Ki</td>
                        <td>24</td>
                        <td>Moon</td>
                        <td>Gloomy</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Dr</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Oni</td>
                        <td>19</td>
                        <td>Strength</td>
                        <td>Upbeat</td>
                        <td>St</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Black Ooze</td>
                        <td>18</td>
                        <td>Moon</td>
                        <td>Timid</td>
                        <td>St</td>
                        <td>St</td>
                        <td>-</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>Nu</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Yaksini</td>
                        <td>20</td>
                        <td>Empress</td>
                        <td>Irritable</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>High Pixie</td>
                        <td>16</td>
                        <td>Fool</td>
                        <td>Irritable</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>St</td>
                        <td>St</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Rakshasa</td>
                        <td>24</td>
                        <td>Strength</td>
                        <td>Irritable</td>
                        <td>St</td>
                        <td>-</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Nekomata</td>
                        <td>17</td>
                        <td>Magician</td>
                        <td>Upbeat</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>80</td>
                    </tr>
                    <tr>
                        <td>Leanan Sidhe</td>
                        <td>19</td>
                        <td>Lovers</td>
                        <td>Irritable</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>St</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Take-Minakata</td>
                        <td>29</td>
                        <td>Hanged Man</td>
                        <td>Gloomy</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Rp</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>St</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Orobas</td>
                        <td>17</td>
                        <td>Hierophant</td>
                        <td>Timid</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>St</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Orthrus</td>
                        <td>21</td>
                        <td>Hanged Man</td>
                        <td>Irritable</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Dr</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>Queen's Necklace</td>
                        <td>15</td>
                        <td>Empress</td>
                        <td>Upbeat</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Wk</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>20</td>
                    </tr>
                </tbody>
            </table>

            <h3>Bosses</h3>
            <table class="battle-guides" style="text-align:center;" width="100%">
                <tbody>
                    <tr>
                        <th rowspan="2" style="width:20%;">Shadow</th>
                        <th rowspan="2" style="width:5%;">Lv</th>
                        <th rowspan="2" style="width:16%;">Arcana</th>
                        <th colspan="10" style="width:44%;">Affinity</th>
                    </tr>
                    <tr>
                        <th style="width:4%; background:black;"><img alt="Melee Icon" src="/img/skills/melee.png"
                                width="20" height="16"></th>
                        <th style="width:4%; background:black;"><img alt="Range Icon" src="/img/skills/range.png"></th>
                        <th style="width:4%; background:black;"><img alt="Agi Icon" src="/img/skills/agi.png"></th>
                        <th style="width:4%; background:black;"><img alt="Bufu Icon" src="/img/skills/bufu.png"></th>
                        <th style="width:4%; background:black;"><img alt="Zio Icon" src="/img/skills/zio.png"></th>
                        <th style="width:4%; background:black;"><img alt="Garu Icon" src="/img/skills/garu.png"></th>
                        <th style="width:4%; background:black;"><img alt="Psy Icon" src="/img/skills/psy.png"></th>
                        <th style="width:4%; background:black;"><img alt="Frei Icon" src="/img/skills/frei.png"></th>
                        <th style="width:4%; background:black;"><img alt="Bless Icon" src="/img/skills/bless.png"></th>
                        <th style="width:4%; background:black;"><img alt="Curse Icon" src="/img/skills/curse.png"></th>
                    </tr>
                    <tr>
                        <td>Sui-Ki</td>
                        <td>21</td>
                        <td>Magician</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Dr</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Oni</td>
                        <td>19</td>
                        <td>Strength</td>
                        <td>St</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Kin-Ki</td>
                        <td>27</td>
                        <td>Chariot</td>
                        <td>St</td>
                        <td>St</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Fuu-Ki</td>
                        <td>26</td>
                        <td>Star</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>Dr</td>
                        <td>-</td>
                        <td>-</td>
                        <td>St</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Kumbhanda</td>
                        <td>???</td>
                        <td>Hermit</td>
                        <td>-</td>
                        <td>St</td>
                        <td>Nu</td>
                        <td>-</td>
                        <td>Rp</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Wk</td>
                        <td>St</td>
                    </tr>
                    <tr>
                        <td>Cerberus</td>
                        <td>???</td>
                        <td>Chariot</td>
                        <td>-</td>
                        <td>Ab</td>
                        <td>Ab</td>
                        <td>Wk</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>Rs</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Piggytron</td>
                        <td>26</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>Hitman-for-Hire
                        </td>
                        <td>???</td>
                        <td>-</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Dr</td>
                        <td>St</td>
                    </tr>
                    <tr>
                        <td>Bodyguard-for-Hire
                        </td>
                        <td>???</td>
                        <td>-</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>St</td>
                        <td>Dr</td>
                    </tr>
                    <tr>
                        <td><b>Bael (Junya Kaneshiro) - Gluttony</b></td>
                        <td>25</td>
                        <td>-</td>
                        <td>St</td>
                        <td>Nu</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>

        {{>footer}}
    </div>
</body>

</html>