<div class="day-nav">
                <div class="pre-day"><a href="#">Previous Day</a></div>
                <div class="date">{{date}}</div>
                <div class="next-day"><a href="#">Next Day</a></div>
            </div>