<footer>
    <div>
        <p>Created By: <a href="https://nguyenkevin.com" target="_blank">Kevin</a>. Data from <a href="https://docs.google.com/spreadsheets/d/1JqQfby3FlugOL3n6EEmglYsk9O74xwQlpmBhBnyXk6c/edit?usp=sharing" target="_blank">Kal_Hawke</a>. Confidant Data from <a href="https://www.rpgsite.net/" target ="_blank">RPGSite.net</a>.  © 2020</p> 
    </div>
</footer>