<header>
    <h1>Persona 5 Royal Calendar Guide</h1>
    <div>
        <a href="/">Home</a>
        <a href="/day/apr18">First Day</a>
        <a href="/calendar">Calendar</a>
        <a href="/confidants">Confidants</a>
    </div>
</header>
