body {
    color: #333;
    font-family: arial;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 16px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
a{
    color: #888;
    text-decoration: none;
}
.main-content {
    flex-grow: 1; 
}
footer {
    color: #888;
    border-top: 1px solid #eee;
    margin: 16px 0;
    padding: 8px 0;
}
header {
    margin-top: 16px;
    margin-bottom: 48px;
}
h1 {
    font-size: 48px;
    margin-bottom: 16px;
}
header a {
    margin-right: 16px;
}
.date h2 {
    margin: 0
}
.date-nav {
    display: flex;
}
.date-nav .date {
    display: flex;
    flex-grow: 3;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.day-nav {
    margin:8px;
}
.day-period {
    margin: 32px 0;
}
.day-period h3 {
    text-align:center;
}
.evening.day-period {
    border-top: 1px solid #888;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.confidant-nav ul li {
    display: inline;
}
.confidant-nav a,
.confidants-list a {
    color: rgb(14, 14, 65);
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    border-bottom: 1px solid white;
  }
  .active, .collapsible:hover {
    background-color: #555;
  }
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active:after {
    content: "\2212";
  }
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .answer {
    background-color: #ddd;
    display: inline-block; 
    padding: 8px 12px;
    position: relative; 
  }
  
  .answer:not(:active) {
    background-color: #eee; 
    color: #eee; 
    min-width: 96px; 
    user-select: none; 
  }
  
  .answer:not(:active)::before {
    position: absolute;
    top: 8px;
    left: 12px;
    content: 'Click\a0to\a0reveal'; 
    color: #999;
  }

  @media only screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
        margin-bottom: 8px;
    }
    header {
        margin-bottom: 16px;
    }
    .day-nav a span {
        display: none;
    }
    .next-day a::before {
        content: "\25b6";
        /* content: "next"; */
        font-size:48px;
    }
    .prev-day a::after {
        content: "\25c0";
        /* content: "prev"; */
        font-size: 48px;
    }
  }